@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #432;
}
body,
i {
  font-size: 16px;
  font-style: normal;
  color: #432;
}
.hamburger,
.main-inner,
.service-inner,
.about-inner,
.team-inner,
.produce-inner,
.contact-inner,
.end-content {
  margin: 0 10vw;
}
header,
.main-visual,
.team-content,
.contact-content {
  background-color: rgb(224, 247, 252);
}

.title {
  font-size: 2rem;
  font-weight: bold;
}
.text {
  font-size: 1rem;
  margin-top: 3%;
  font-weight: normal;
}
.inner-text {
  text-align: center;
  line-height: 1;
}

/* header
---------------------------------- */
.hamburger {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  align-items: center;
}
.logo {
  font-size: 2.5rem;
  font-weight: bold;
}
.hamburger .btn-gNav {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 24px;
  z-index: 12;
  box-sizing: border-box;
  cursor: pointer;
  -webkit-transition: all 400ms;
  transition: all 400ms;
}

.hamburger .btn-gNav span {
  position: absolute;
  width: 100%;
  height: 4px;
  background: #432;
  border-radius: 10px;
  -webkit-transition: all 400ms;
  transition: all 400ms;
}

.hamburger .btn-gNav span:nth-child(1) {
  top: 0;
}

.hamburger .btn-gNav span:nth-child(2) {
  top: 10px;
}

.hamburger .btn-gNav span:nth-child(3) {
  top: 20px;
}

.hamburger .btn-gNav.open span:nth-child(1) {
  background: #ffffff;
  top: 6px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.hamburger .btn-gNav.open span:nth-child(2),
.hamburger .btn-gNav.open span:nth-child(3) {
  top: 6px;
  background: #ffffff;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}

.btn-gNav {
  display: none;
}

.gNav .gNav-menu {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.gNav .gNav-menu li a {
  font-size: 1rem;
  text-transform: uppercase;
  color: #432;
}
.gNav-menu li a:hover {
  text-decoration: underline;
}

header {
  min-height: 7vw;
}
/* main-visual
------------------------------------- */
.main-inner-text {
  padding: 10% 0;
}
/* button */
.button {
  display: block;
  color: #fff;
  font-size: 0.8rem;
  background: rgb(137, 158, 162);
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 50px;
  width: 200px;
  text-align: center;
  margin-top: 10%;
}
.button:hover {
  background-color: rgb(96, 125, 130);
}
i {
  font-size: 10rem;
  margin: 0 auto;
  color: rgb(137, 158, 162);
}
.main-inner {
  display: flex;
  align-items: center;
  gap: 15%;
}
.main-inner .inner-text-left {
  width: 50%;
}
/* section1,4 ----------------------------*/
.item i {
  display: block;
  font-size: 3.5rem;
  color: rgb(137, 158, 162);
  padding: 10px;
}
.subtitle {
  font-size: 1.3rem;
  font-weight: bold;
}
.item {
  text-align: center;
  margin-top: 5%;
}
/* section1
--------------------- */
.service-inner .items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 5vw;
  margin-top: 10%;
}
.service-content {
  margin-top: 15%;
}
/* section4
--------------------- */
.produce-inner .items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 5vw;
  margin: 10% 0;
}
.produce-inner {
  padding: 10% 0;
}
/* section2
---------------------------------------------*/
.about-content {
  margin-top: 15%;
}
.inner-text-left {
  max-width: 30vw;
}
.about-image {
  display: flex;
}
.about-image .people {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  width: 13vw;
  height: 13vw;
  color: rgb(137, 158, 162);
  background-color: rgb(233, 251, 254);
}
.about-image .people:nth-child(2) {
  background-color: #fff;
}
.about-inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 15%;
  padding-bottom: 10%;
}

/* section3
------------------------------------------------ */
.team-inner {
  padding: 10% 0;
}
.play {
  display: block;
  text-align: center;
  font-size: 4em;
  color: rgb(137, 158, 162);
  margin-top: 5%;
}

/*seciton-5
-------------------------------------------------*/
.contact-inner {
  padding: 15% 0;
}
.inner-text-logo i {
  font-size: 1rem;
}
.inner-text-logo {
  margin-bottom: 2%;
}

/*section-6
----------------------------------------------------------------*/
.end-inner {
  padding: 18% 0;
}
.end-content .button {
  margin: 2% auto;
}
/* メディアクエリ
------------------------------------------------------------------ */
@media (max-width: 600px) {
  /* hamberger--------------------------- */
  .hamburger {
    margin: 0 40px;
  }
  .logo {
    margin-top: 10px;
  }
  .btn-gNav {
    display: block;
  }
  .gNav {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 74%;
    background-color: rgba(0, 0, 0, 0.6);
    font-size: 16px;
    box-sizing: border-box;
    z-index: 1;
    padding-top: 50px;
    transition: 0.3s;
  }
  .gNav.open {
    right: 0;
  }
  .gNav .gNav-menu {
    padding: 0;
    width: 100%;
    height: 100%;
    display: block;
    flex-direction: column;
    text-align: center;
    /*justify-content: center;*/
  }
  .gNav .gNav-menu li {
    padding: 15px;
    border-bottom: #525252 1px solid;
  }
  .gNav .gNav-menu li a {
    text-transform: uppercase;
    color: #fff;
  }
  /* all-------------------------------- */
  .title {
    font-size: 0.7rem;
  }
  .text {
    font-size: 0.5rem;
    margin-top: 3%;
  }
  .item i {
    font-size: 1rem;
  }

  /* main-visual------------------------ */
  .hamburger {
    padding-top: 0px;
  }
  .main-inner {
    flex-wrap: wrap;
  }
  .main-inner .title {
    margin-top: 10%;
  }
  .main-inner i {
    font-size: 3rem;
    margin: 10% 80% 10% 0;
  }
  .button {
    margin-top: 5%;
    height: 30px;
    padding: 5px 20px;
  }

  /* section-1------------------------ */
  .service-inner .item .text {
    font-size: 0.6rem;
  }
  /* section-2------------------------ */
  #section-2 {
    max-height: 35vh;
    margin-top: 20%;
  }
  .about-inner .inner-text-left {
    max-width: 100%;
    margin: 0 10px;
  }
  .about-inner {
    display: block;
  }
  .about-image {
    margin-top: 10%;
  }
  .about-image .people {
    font-size: 3rem;
    width: 16vw;
    height: 16vw;
  }
  /* section-3------------------------ */
  .team-inner .play {
    font-size: 2em;
  }
  /* section-6------------------------ */
  .end-content {
    padding: 15% 0;
  }
}
/* tablet------------------------------------------ */
@media (max-width: 768px) {
  /* all */
  .title {
    font-size: 1.5rem;
  }
  .text {
    font-size: 0.8rem;
  }
  .item i {
    font-size: 3rem;
  }

  /* header----------------
   */
  .gNav .gNav-menu {
    gap: 10px;
  }
  .gNav .gNav-menu li a {
    font-size: 0.8rem;
  }
  .logo {
    margin-bottom: 10%;
  }
  .gNav {
    margin-bottom: 10%;
  }
  /* main */
  .button {
    margin-bottom: 10%;
  }
  /* secttion-2 */
  .about-inner {
    margin: 10%;
  }
  /* section-3------------------------ */
  .team-inner .play {
    font-size: 2em;
    margin: 10px;
  }
  /* section-6------------------------ */
  .end-content {
    padding: 4%;
  }
}
